<h1 class="row center-align">Articles</h1>
<div class="row">
    {{#each stories}}
        <div class="col m4 s12">
            <div class="card">
                <div class="card-image">
                    {{{editIcon user ../loggedUser _id}}}
                </div>
                <div class="card-content center-align">
                    <h2>{{title}}</h2>
                    <div class='card-body'>{{truncate (stripTags body) 150}}</div>
                    <div class="chip">
                        <img src="{{user.image}}" alt=""/>
                        <a href="/stories/user/{{user._id}}">
                            {{user.displayName}}
                        </a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    {{else}}
        <p>no articles yet</p>
    {{/each}}
</div>